
@{
    ViewBag.Title = "Admin";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home</title>

    <!-- core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/animate.min.css" rel="stylesheet">
    <link href="~/Content/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet">
    <link href="~/Content/responsive.css" rel="stylesheet">
</head><!--/head-->
<br />
<br />
<br />
<h1>Admin</h1>

<div class="row">
    <div>
        <div>
            <h2>Thread Info</h2>
            @Html.ActionLink("Click here for a list of Threads.", "Index", "Threads")
        </div>
        <div>
            <h2>Thread Comments</h2>
            @Html.ActionLink("Click here for a list of threads and their comments.", "Index", "ThreadComments")
        </div>
        <div>
            <h2>Users</h2>
            @Html.ActionLink("Click here for a list of all users.", "Index", "Account")
        </div>
        <div>
            <h2>User Roles</h2>
            @Html.ActionLink("Click here for a list of all user roles.", "Index", "IdentityRole")
        </div>
        <div>
        <h2>Game Tips</h2>
            @Html.ActionLink("Click here for a list of all game tips.", "Index", "GameTips")
        </div>
        <div>
            <h2>Abilities Info</h2>
            @Html.ActionLink("Click here for a list of Abilites.", "Index", "Abilities")
        </div>
        <div>
            <h2>Eidolons Info</h2>
            @Html.ActionLink("Click here for a list of Eidolons.", "Index", "Eidolons")
        </div>
        <div>
            <h2>Equipment Info</h2>
            @Html.ActionLink("Click here for a list of Equipment.", "Index", "Equipments")
        </div>
        <div>
            <h2>Jobs Info</h2>
            @Html.ActionLink("Click here for a list of Jobs.", "Index", "Jobs")
        </div>
        <div>
            <h2>Materials Info</h2>
            @Html.ActionLink("Click here for a list of Materials.", "Index", "Materials")
        </div>
        <div>
            <h2>Monsters Info</h2>
            @Html.ActionLink("Click here for a list of Monsters.", "Index", "Monsters")
        </div>
        <div>
            <h2>Quests Info</h2>
            @Html.ActionLink("Click here for a list of Quests.", "Index", "Quests")
        </div>
    </div>
</div>