@model IEnumerable<ReviewerProject.Models.Job>

@{
    ViewBag.Title = "ListJobs";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Jobs</title>

    <!-- core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/animate.min.css" rel="stylesheet">
    <link href="~/Content/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet">
    <link href="~/Content/responsive.css" rel="stylesheet">
</head><!--/head-->
<br />
<br />
<br />
<h2>Jobs</h2>

<br/>
<div class="container">
    <img src="~/Content/Images/FFExplorersjob_monk_cg.png" alt="Job" class="floatLeft bodyImg"/>
    <p>
        Final Fantasy Explorers borrows quite a bit from Monster Hunter, but the job system is far more reminiscent of Final Fantasy Tactics.
        There are over 20 jobs featured in the game and you can outfit each one of them with gear sets and abilities. This wide variety in jobs can
        make it difficult to determine which jobs you want to play and which you should focus on gearing up more so than others. We’ve compiled a list of all the jobs.
    </p>
</div>

<br/>
<br/>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaseHP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaseAP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaseLoad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobProficiencies)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JobName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaseHP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaseAP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaseLoad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobProficiencies)
        </td>
        <td>
            @Html.ActionLink("Tips", "ListOfTipsByJobUser", new { controller = "GameTips", id = item.ID }, null)
        </td>
    </tr>
}

</table>
