@model IEnumerable<ReviewerProject.Models.Job>

@{
    ViewBag.Title = "ListJobs";
}

<h2>ListJobs</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaseHP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaseAP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaseLoad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobProficiencies)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JobName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaseHP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaseAP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaseLoad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobProficiencies)
        </td>
    </tr>
}

</table>
