@model IEnumerable<ReviewerProject.Models.Thread>

@{
    ViewBag.Title = "ListThreads";
}

<h2>ListThreads</h2>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home</title>

    <!-- core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/animate.min.css" rel="stylesheet">
    <link href="~/Content/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet">
    <link href="~/Content/responsive.css" rel="stylesheet">
</head><!--/head-->
<br />
<br />
<br />

<p><a class="btn btn-default" href="/Threads/Create">Create New &raquo;</a></p>

<br />
<br />

<ul class="portfolio-filter text-center">
    <li><a class="btn btn-default active" href="/Threads/ListThreads" data-filter="*">All Threads</a></li>
    <li><a class="btn btn-default" href="/Threads/BugFixesList" data-filter=".bootstrap">Bug Fixes</a></li>
    <li><a class="btn btn-default" href="/Threads/ReviewList" data-filter=".html">Reviews</a></li>
</ul><!--/#portfolio-filter-->

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThreadType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThreadType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryType)
        </td>
        <td>
            @Html.ActionLink("Comment", "Index", new { controller = "Comments", ThreadID = item.ID })
        </td>
    </tr>
}

</table>
