@model IEnumerable<ReviewerProject.Models.Ability>

@{
    ViewBag.Title = "ListAbilities";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Abilities</title>

    <!-- core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/animate.min.css" rel="stylesheet">
    <link href="~/Content/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet">
    <link href="~/Content/responsive.css" rel="stylesheet">
</head><!--/head-->
<br />
<br />
<br />
<h2>Abilities</h2>

<br />
<div class="container">
    <img src="~/Content/Images/abilities.jpg" alt="Abilities" class="floatLeft bodyImg"/>
    <p>
        While there are a wide variety of jobs and abilities available in Final Fantasy Explorers, and you can use 
        almost any ability with any job, the cost of an ability will vary. To determine how many abilities you can equip, 
        each ability costs a certain amount of Crystal Points (CP). The amount of CP is determined by the job and the 
        ability you’ve paired together. For example, an ability such as Fire would cost less CP for a Black Mage than it 
        would for a Monk, while Counter would cost less for the Monk than it would for the Black Mage. Keep this in mind 
        when determining which abilities you wish to equip to your jobs.
    </p>
    <p>
        There are some unique abilities that can only be used by a specific job. If you wish to use these unique abilities 
        you will have to play as the required job as they cannot be used by any other job. If there are any unique abilities 
        that you heavily favor, it’s recommended that you start with that job and add additional abilities that are not unique 
        until you have the build you desire.
    </p>
</div>

<br />
<br />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Load)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoolDown)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Power)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Load)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.APCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoolDown)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Power)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>

    </tr>
}

</table>
