@model IEnumerable<ReviewerProject.Models.Eidolon>

@{
    ViewBag.Title = "ListEidolons";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Eidolons</title>

    <!-- core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/animate.min.css" rel="stylesheet">
    <link href="~/Content/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet">
    <link href="~/Content/responsive.css" rel="stylesheet">
</head><!--/head-->
<br />
<br />
<br />
<h2>Eidolons</h2>

<br />
<div class="container">
    <img src="~/Content/Images/eidolon.jpg" alt="Eidolon" class="floatLeft bodyImg" />
    <p>
        Players will be able to battle the 12 formidable eidolons solo or in a party of up to four players. 
        Once its defeated, the player is granted the ability to summon the eidolon while in Trance Mode, a 
        temporary ability where players can also transform into other characters from the Final Fantasy series. 
        After completing the main story, “abberant versions” of each eidolon that are tougher than their original 
        counterparts and feature a different design will also be available to battle.
    </p>
</div>

<br />
<br />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EidolonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MagiciteAbilty)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EidolonName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MagiciteAbilty)
        </td>
        <td>
            @Html.ActionLink("Tips", "ListOfTipsByEidolonUser", new { controller = "GameTips", id = item.ID }, null)
        </td>
    </tr>
}

</table>
